<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>계산기</title>
</head>
<body>

    <form method="POST">
        <input type="number" name="number01" placeholder="ko">
        <button type="submit">입력</button>
        <input type="number" name="number02" placeholder="eng">
        <button type="submit">입력</button>
        <input type="number" name="number03" placeholder="math">
        <button type="submit">입력</button>
    </form>

    
        <h2>평균: {{ result }}</h2>
    

</body>
</html>