<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>커뮤니티</title>
</head>
<body>
    <h1>커뮤니티에 오신것을 환영합니다.</h1>
    <hr>

    <form action="/" method="POST">
        <input type="text" name="nickName" placeholder="닉네임">
        <input type="text" name="contents" placeholder="내용 입력">
        <input type="number" name="password" placeholder="비번 입력">
        <button type="submit">작성하기</button>
        {% if is_null %}
        <p style="color:red;">{{ is_null }}</p>
        {% endif %}
    </form>
    <hr>

    {% for post in posts %}
        <p>글쓴이 : {{ post[1] }} {{ post[4] }}</p>
        <p>{{ post[2] }}</p>
        
        <form action="/delete_this" method="POST">
        <input type="hidden" name="post_id" value="{{ post[0] }}"> <!-- post [0] 값 post_id에 넣고 flask09에 보내기 위해 만듦 -->
        <button type="submit">삭제하기</button>
        </form>
        <hr>
    {% endfor %}
</body>
</html>