<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>커뮤니티</title>
</head>
<body>
    <h1>커뮤니티에 오신것을 환영합니다.</h1>
    <hr>

    <form action="/" method="POST">
        <input type="text" name="nickName" placeholder="닉네임">
        <input type="text" name="contents" placeholder="내용 입력">
        <button type="submit">작성하기</button>
        {% if is_null %}
        <p style="color:red;">{{ is_null }}</p>
        {% endif %}
    </form>
    <form action="/delete_all" method="POST">
    <button type="submit">모든 글 삭제</button>
    </form>
    <hr>

    {% for post in posts %}
        <p>글쓴이 : {{ post[1] }}</p>
        <p>{{ post[2] }}</p>
        <hr>
    {% endfor %}
</body>
</html>