<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask13 - Posts</title>
</html>
<body>
    <h1>Posts</h1>
    
        <div>
            <h2>{{ post[2] }}</h2>
            <p>{{ post[3] }}</p>
            <small>{{ post[5] }}</small>
            <form method="POST" action="/delete_this">
                <input type="hidden" name="post_id" value="{{ post[0] }}">
                <input type="password" name="password" placeholder="비밀번호 입력" required>
                <button type="submit">삭제</button>
            </form>
        </div>
        <hr>
    
</body>
</html>