<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뉴스 글쓰기</title>

    <form action="/write" method="post">
        <label for="article_title">제목:</label><br>
        <input type="text" id="article_title" name="article_title" required><br><br>
        <label for="article_content">내용:</label><br>
        <textarea id="article_content" name="article_content" rows="10" cols="50" required></textarea><br><br>
        <button type="submit">글쓰기</button>
</head>
<body>
    
</body>
</html>